body {
    background-image: url("pc/DSCN0187.JPG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    backdrop-filter:  blur(5px);
    filter: brightness(80%);
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 10px 5px 5px rgba(55, 78, 39, 0.2);  
    position:sticky;
    top: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    background-image: url(pc/DSCN0036.JPG);
    background-size: contain;
    background-repeat: repeat;
}

.foto {

    margin: 10px 20px;
    float:left;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
  div.pie {
    text-align: center;
    padding: 0;
} 
    
ul{
    display: flex;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    color : green;
}

.menu ul li a {
        
    text-decoration:  none              ;     
    text-transform:   capitalize        ;     
    color:            black ;     
    font-size:        15px              ;     
    list-style:       none              ;    
    font-family:'Times New Roman', Times, serif        ;    
    background-color: rgba(144, 238, 144, 0.452)    ;
    padding:          10px 10px 10px 10px ;     
    border-radius:    20px 20px 20px 20px ;     
    justify-content:  space-evenly      ;
}

  p{
    color:      rgb(19, 18, 18);
    margin: 5%;  
    box-shadow: 1px 5px 2px rgb(0,0,0,0.45);   
    border-radius: 5px;
    font-family: 'cursiva';
    font-size: 25px;
    line-height: 1.5;
    width: 90% ;
    height: 100% ;
    padding: 1px 3px 1px 1px;
  } 
   
  footer {
    display: flex;
    justify-content:  center    ;
    gap: 50px;
    font-size:     30px  ;
    color: black;
    margin-top: auto;

}



